.toggle-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border-style: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

.button-line{
    width: 30px;
    height: 2px;
    background-color:white;
}